.container {
    display: grid;
    grid-template-columns: 45% 60%;
    /* justify-content: center; */
    padding-top: 10px;
  }
  
  .image {
    /* overflow: hidden; */
    height: 400px;
    width: 320px;
  }
  
  .bio {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    /* font-size: 14px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    /* text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white; */
    /* width: 50%; */
  }
  
  .bio h2 {
    grid-column: 1 / 2;
  }
  
  .bio p {
    grid-column: 1 / 2;
  }
  