.contact-container {
    position:absolute;
    bottom: 0;
    right: -730px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    /* width: 100px; */
    padding-bottom: 40px;
    color: white;
    z-index: 6;

  }

  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: white;
  }
  
  .form-group > div {
    margin-left: 10px;
    font-size: 16px;
  }
  