.statement  {
    font-family: 'Raleway', sans-serif;
    color:white;
    opacity: .7;
    text-shadow: -2px 2px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    2px 2px 0 black;
}
.mission-statement  {
    font-family: 'Raleway', sans-serif;
    padding-top: 75px;
    color:white;
    text-shadow: -2px 2px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    2px 2px 0 black;
}