.aboutme-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 50vh;  */
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  margin-top: 20px;
  margin-bottom: 40px;
}

.aboutText {
  font-family: Oswald;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1px;
}

.aboutMeText {
  font-family: Oswald;
  padding: 20px;
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.aboutMeFirst {
  font-size: 50px;
}
.aboutMeSecond {
  font-size: 80px;
  font-weight: 900;
  position: relative;
}

.aboutMeSecond::before,
.aboutMeSecond::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 160px;
  height: 2px;
  background-color: black;
}

.aboutMeSecond::before {
  border-bottom: 8px solid black;
}

.aboutMeSecond::after {
  border-bottom: 1px solid black;
  width: 300px;
  left: 160px;
  bottom: -7px;
}

@media screen and (max-width: 767px) {
  .aboutme-container {
    flex-direction: column;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 320px;
  }

  .aboutMeSecond::after {
    border-bottom: 1px solid black;
    width: 80px;
    left: 140px;
    bottom: -7px;
  }
}
