.footer {
    position: static;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px;
    margin-bottom: 40px;
    z-index: 2;
  }
  
  .footer-image {
    flex: 1;
    max-width: 120px;
    margin: 10px;
    z-index: 20;
  }

  @media (max-width: 768px) { /* adjust breakpoint as needed */
    .footer-image {
      margin: 5px;
    }
  }