@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.image-carousel-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    /* max-width: 1200px; */
    max-height: 500px;
    margin: auto;
    overflow: hidden;
    position: relative;
    animation: fadeIn 3s ease-in-out;
    margin-top: 30px;
  }
  
  .side-image {
    width: 40%;
    object-fit: cover;
  }

  
  .carousel-content {
    width: 60%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6b92b5;
  }
  
  .custom-carousel {
    width: 100%; /* Adjust as per your requirements */
    height: 500px;  /* Set this to a fixed value */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent images from bleeding outside the container */
  }
  
  .custom-carousel-img {
    width: 100%;  /* Ensure the image takes the full width of the container */
    height: 100%;  /* Ensure the image takes the full height of the container */
    object-fit: cover; /* Scale and crop the image to fit the container while maintaining aspect ratio */
  }
/* ---- mobile views  */


  @media screen and (max-width: 767px) {
    .image-carousel-container {
      /* display: none; */
      flex-direction: column;
      /* margin-top: -5px;
      margin-bottom: -10px; */
      width: 300px;
      padding: 0;
      height: auto;
    }
    .carousel-content {
      width:100%;
      border:15px solid #6b92b5;
      /* justify-content: center;
      align-items: center; */
    }
    .side-image {
      display: none;
    }
  }