.personal-logo {
  width: 100px;
  object-fit: contain;
  margin-right: 30px;
  margin-left: 30px;
}
.custom-logo {
  width: 200px;
  height: 70px;
  object-fit: contain;
  position: absolute;
  right: 0;
}

.custom-logo:hover {
  cursor:pointer;
}

.custom-navbar {
  z-index: 5;
  background-color: #333;
  position: relative;  
}

.custom-navbar .nav-link {
  color: #fff;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-toggler {
  margin-right: 20px;
}

/* .navbar-expand-lg .navbar-nav {
  flex-direction: row;
  justify-content: space-around; 
} */

.nav-link {
  white-space: nowrap;
}


@media (max-width: 992px) {
  .custom-logo,
  .personal-logo {
    display: none;
  }
}

/* media query for nav link padding */

@media (max-width: 992px) { 
  .nav-link {
    margin-left: 10px;
  }
}