.featuredText {
    font-family: Oswald;
    padding: 15px;
}
.featuredFirst {
    font-size: 50px;
}
.featuredSecond {
    font-size: 80px;
    font-weight: 900;
    position: relative;
}

.featuredSecond::before,
.featuredSecond::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 160px;
  height: 2px;
  background-color: #000;
}

.featuredSecond::before {
  border-bottom: 8px solid grey;
}

.featuredSecond::after {
  border-bottom: 1px solid grey;
  width: 300px; 
  left: 160px; 
  bottom: -7px; 
}

.city-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .city-item {
    position: relative;
    text-align: center;
  }

  .city-item h2 {
    position: absolute;
    top: 25%;
    left: 100%;
    transform: translate(-50%, -50%); 
    color: #fff;
    text-shadow: 4px 4px 12px rgba(0, 0, 0, .9); 
    text-align: left;
    font-size: 80px;
    font-family: Oswald;
    margin-top: 10px;
  }

  .city-item img {
    display: block;
    height: 450px;
    width: 650px;
    padding: 15px;
    opacity: 1;
    /* object-fit: cover; */ 
    opacity: 1;
    filter: brightness(80%); 
   
  }
  
  @media screen and (max-width: 767px) {
    .city-grid {
      grid-template-columns: 1fr; 
    }

    .city-item {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
  
    .city-item h2 {
        font-size: 60px;
        margin-top: 10px; 
        transform: none;
        left: auto;
        top: auto; 
        padding: 10px;
      }
    
  
    .city-item img {
      width: 100%;
      height: auto;
    }
  }

